

* {
	padding:0;
	margin: 0;
}

body {
  background: #65A692 url("../images/donkeyetc1.jpg");
  color: #cccccc;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}

a{
	text-decoration:none;
	color:#000;
	border-bottom: 1px solid #000;
	padding-bottom:2px;
}

nav{
	margin:auto;
}

header{
	padding:0 200px;
}

hr {
  width: 200px;
}

h1{
	color: #000;
}

h1, h2{
	text-align: center;
}

#slogan{
	font-weight: bold;
	font-style: italic;
	color: pink;
}

.info{
	text-align: right;
}
ul {
	text-align: left;
	padding-left: 20px;
}

aside {
	float: left;
}